<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGB</title>
    <link rel="stylesheet" type="text/css"  href="./../css/aboutUs.css">
</head>

<body>
    <div class="container">

            <div class="logo">
                <a href="#"><img src="./../pics/logo.png" alt="Logo"></a>
            </div>
            



        <div class="row-container">


            <div class="login-form" style="flex:1">
                <div class="heading">
                    <h1>About Us</h1>
                </div>

                <div class="about">
                    <p>

                        “ Digital nomad became a trend nowadays due to the pandemic.
                        A lot of professionals can travel anywhere and can choose their desired work environment. 
                        Despite working remotely, it is still essential to take care of yourself. Staying healthy - mentally, 
                        and physically is a key aspect for a work-life balance.
                    </p>
                </div>

                <div class="about2">
                    <p>
                        Agb Ltd. corporation plans to avail a wellness program 
                        for their employees who work remotely. ”vel anywhere and can choose their desired work environment.
                        Despite working remotely, it is still essential to take care of yourself. 
                        Staying healthy - mentally, and physically is a key aspect for a work-life balance. Agb Ltd. corporation plans to 
                        avail a wellness program  for their employees who work remotely."
                    </p>
                </div>

            
            </div>

            <div class="right-div" >
                <header class="header">


                    <nav class="nav">
                        <ul class="nav-list" >
                            <li><a href="/login">HOME</a></li>
                            <li><a href="/user/aboutUs">ABOUT US</a></li>
                            <div class="bt1">
                            <li><a href="/login">LOGIN</a></li>
                            </div>
                        </ul>
                    </nav>
                </header>

                <div class="intro-wrapper">
                    <div class="head">
                        <h2>BE THE CHANGE.</h2>
                    </div>

                    <div class="intro">
                        <p> Staying healthy - mentally, and physically is a key aspect for a work-life balance. Agb Ltd. corporation 
                            plans to avail a wellness program  for their employees who work remotely.
                        </p>
                    </div>
                </div>
            </div>



        </div>
</body>

</html>