
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGB</title>

    <link rel="stylesheet" href="./../css/services.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
</head>
<body>
     


     <header class="header">

        <div class="logo">
                        <a href="#"><img src="./../pics/logo.png" alt = "Logo"></a>
                </div>

        <nav class="nav" style="margin-left: auto;">
            <ul class="nav-list">


                <div class="dropdown">
                    <li><a href="/user/manager">MANAGER TOOLS <i class="fa fa-caret-down"></i></a></li>
            
                    </div>
                </div> 

                
                <div class="dropdown">
                <li><a>

                
                    <form action="/logout?_method=DELETE" method= "POST">
                                <button type="submit">LOG OUT</button>
                    </form>
                
                </a></li>
                </div>
                </div>
            </ul>
        </nav>


    </header>

    <div class ="container">
        

        <div class="center-div">
        
            <div class="heading">
            <h1>CATEGORIES:</h1>
            </div>

            <div class="all-buttons">
            
              {{#categories}} 

                 <div class="btn1">
                    <a href="/goals/addGoals?id={{_id}}">
                        <button type="button" class="button" >
                            <span class="btn-text"> {{title}} </span>
                            <span class="btn-icon"><img src="./../pics/fitness.png" alt = "travel"></span>
                        </button>
                    </a>
                </div>

                 {{/categories}} 


                      
            </div>
        </div>   
            
           
            
          
        

    </div>


    
</body>
</html>