
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGB</title>

    <link rel="stylesheet" href="./../css/services.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
</head>
<body>
     

      {{! <header class="header">

                <div class="logo">
                        <a href="#"><img src="./../pics/logo.png" alt = "Logo"></a>
                </div>

                <nav class="nav" style="margin-left: auto;">
                    <ul class="nav-list">
                        <div class="dropdown">
                            <button class="button button5">MANAGER TOOLS</button> 
                        </div>

                        <div class="dropdown">
                            <button class="button button5">LOGOUT</button> 
                        </div>
                    </ul>
                </nav>


    </header> }}

     <header class="header">

        <div class="logo">
                        <a href="#"><img src="./../pics/logo.png" alt = "Logo"></a>
                </div>

        <nav class="nav" style="margin-left: auto;">
            <ul class="nav-list">


                <div class="dropdown">
                    <li><a href="#">MANAGER TOOLS <i class="fa fa-caret-down"></i></a></li>
            
                    </div>
                </div> 


                <div class="dropdown">
                <li><a class="login-btn disabled" href="login.php"><button>LOGOUT</button></a></li>
                </div>
            </ul>
        </nav>


    </header>

    <div class ="container">
        

        <div class="center-div">
        
            <div class="heading">
            <h1>CATEGORIES:</h1>
            </div>

            <div class="all-buttons">
            
                <div class="btn1">
                    <a href="#">
                    <button type="button" class="button" >
                        <span class="btn-text">FITNESS</span>
                        <span class="btn-icon"><img src="./../pics/fitness.png" alt = "travel"></span>
                    </button>
                    </a>
                </div>

                <div class="btn3">
                    <a href="#">
                        <button type="button" class="button" >
                            <span class="btn-text">NUTRITION</span>
                            <span class="btn-icon"><img src="./../pics/nutrition.png" alt = "travel"></span>
                        </button>
                    </a>
                </div>


                <div class="btn5">
                    <a href="#">
                        <button type="button" class="button" >
                            <span class="btn-text">MENTAL HEALTH</span>
                            <span class="btn-icon"><img src="./../pics/mental.png" alt = "travel"></span>
                        </button>
                    </a> 
                </div>         
            </div>
        </div>   
            
           
            
          
        

    </div>


    
</body>
</html>