<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGB</title>
    <link rel="stylesheet" href="./../css/viewGoals.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
</head>

<body>

<div class="row-container">

    <div class="sidebar">

      <div class="logo">
                <a href="#"><img src="./../pics/logo.png" alt="Logo"></a>
      </div>

      <p class="heading1"> WELCOME </p>


        

      <div class="sidebar-btn1">

      <a href="#"><img src="./../pics/Add.png" alt="Add picture" class="add"></a>
       <a href="/user/categories" type="button" class="addGoalBtn" >ADD GOAL</a>

      
      </div>

      <div class="sidebar-btn2">

      <a href="#"><img src="./../pics/View.png" alt="Add picture" class="view"></a>
       <a href="/goals/viewGoals" class="viewGoalBtn">VIEW GOALS</a>

      </div>


      <div class=" button5">

            <form action="/logout?_method=DELETE" method= "POST">
                        <button type="submit">LOG OUT</button>
            </form>
                
        </div>

      
    

    </div>



    <div class="right-div">

     

       

      <div class="goalCard">
    
        <p class="heading"> Goals </p>

        <div class="noGoal" >
        <h3>No goals added<h3>
        </div>
          
        {{#goals}}

        <div class="card">
          <div class="card-body">
           <div class="card-buttons">
                <a href="/goals/updateGoal?goalId={{_id}}" type="button" class="btn btn-outline-dark" >Update</a>
                <a href="/goals/delete?goalId={{_id}}" type="button" class="btn btn-outline-dark" id="delete">Delete</a>
            </div>
            <p class="titles"> Title: </p> 
            <p>{{title}}</p>
            <p class="titles"> Description: </p>
            <p>{{description}}<p>
            <p class="titles"> Date and time: </p>
            <p>{{entryDate}}</p>
            {{#category}}

            <p class="titles"> Category: </p> 
            <p>{{title}}</p>
            
            {{/category}}
            
             <p class="titles"> Status: </p>
            <p>{{status}}</p>

          </div>    
        </div>
        <div class = "empty"></div>
        {{/goals}}



      </div>
    </div>

</div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>


</html>